.App {
  text-align: center;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0px;
}

.windoow-container{

  width: 350px;
  height: auto + 20px;
  border-radius: 20px;
  background-color: rgb(244, 173, 80);
  border: 3px solid whitesmoke;
  box-shadow: 1px 1px 5px black;
  position: fixed;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}

.window-image{
  width: 200px;
  height: 200px;
  border-radius: 20px;
}


.container-logo-car{
 
  position: relative;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Cards */
.products-container{
 margin-top: 150px; 
}

.cards{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 100px;
}


.App-card{
  margin-left: 75px;
  margin-right: 75px;
  margin-top: 100px;
  width: 200px;
  height: 350px ;
  border-radius: 20px;
  background-color: whitesmoke;
  box-shadow: 1px 1px 1px 2px black;
  padding: 50px;
}
.App-card.active{
  position: absolute;
  left: 400px;
  top: 400px;
}

.product-image{
  width: 100px;
  height: 100px;
  border-radius: 20px;
  cursor: pointer;
}

.btn-card{
  cursor: pointer;
  padding: 5px;
  border-radius: 5px;
  background-color: rgb(244, 173, 80);
  margin-left: 5px;

}

.img-btn{
  width: 30px;
  height: 30px;
}


/* Carrito De Compras  */

.articles-car{
  display: flex;
  flex-direction: row;
}


.car-container{
  display: flex;
  flex-direction: column;
  left: 100px;
  background-color: whitesmoke;
  border-radius: 20px;
  width: 400px;
  height: 150px;
  margin-top: -15px;
  border: 2px solid rgb(227, 131, 5);
}
h3{
  margin-left: 20px;
}

.btn-detaills{
padding: 2.5px;
border-radius: 50%;
background-color: rgb(244, 173, 80);
margin-left: 25px;
margin-top: 0px;
cursor: pointer;
justify-content: center;
align-items: center;

}

.img-btn-car{
  width: 50px;
  height: 50px;
}


/* barra de navegacion */


.App-logo {
  height: 200px;
  width: 200px;
  pointer-events: none;
  position: fixed;
  left: 85%;
  top: -10px;
}

.barNav{
  height: 150px;
  background-color: rgb(244, 173, 80);
  position: fixed;
  width: 100vw;
}


/* My-order */

.my-order{
  background-color: whitesmoke;
  width: 250px;
  height: auto + 25px;
  border-radius: 20px;
}


.my-order-container{
  width: 400px;
  height: auto + 50px;
  background-color: whitesmoke;
  visibility: hidden;
  position: fixed;
  top: 150px;
  border: 2px solid rgb(227, 131, 5);;
}

.my-order-container.active{
  visibility: visible;
}



/* Search */


.search-container{
width: 500px;
height: 80px;
align-items: center;
display: flex;
flex-direction: row;
left: 26.5%;
top: 5%;
background-color: transparent;
position: fixed;
}


.search-input{
 width: 200px; 
 height: 20px;
}

.search-btn{
width: 60px;
height: 30px;
}

.search-container2{
  position: relative;
 width: 300px;
 height: 40px;
 margin-left: calc(50% - 150px); 
}

.watch{
  left: 5%;
  top: 21%;
  position: fixed;

}